# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php
web/sites/*/services*.yml

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private

# Ignore SimpleTest multi-site environment.
web/sites/simpletest

# Ignore all sites except for default
web/sites/*
!web/sites/default
!web/sites/development.services.yml
!web/sites/example.settings.local.php
!web/sites/example.sites.php
!web/sites/README.txt
!web/sites/sites.php

# Ignore Drupal Core and Vendor Files.
web/core
web/profiles
vendor
